

.clase{     background-color:;
			color:white;

}

.cl1:hover {     
	background-color:red;
	color:black;

}

#titcolor  {
	background-color:black;
	color: white;
	font-family: courier new;
	height:45px; 
	width:1000px;



}


